@use '../setting/config' as *;
@use '../mixin/_mixin' as *;

/**********************************************
  フッター
**********************************************/
.footer {
  background-color: $base-color;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;

  &__copyright {
    color: #fff;
    font-weight: bold;
    letter-spacing: 5%;
    font-size: 16px;
    line-height: 18.4px;
    @include mq(md) {
      font-size: 12px;
      line-height: 1em;
    }
  }
}

.copyright {
  margin-top: 23px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 3%;
  font-size: 12px;
  line-height: 13.8px;
  @include mq(md) {
    font-size: 10px;
    line-height: 10px;
  }
}