@use '../setting/config' as *;
@use '../mixin/_mixin' as *;

/**********************************************
  ヘッダー
**********************************************/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  height: $header-height;
  background-color: none;
  transition: background-color $duration-time;
  @include mq(md) {
    height: $sp-header-height;
  }
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    @include mq(md) {
      padding: 0 20px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1em;
    letter-spacing: 5%;
    color: $main-color;
  }

  &.is-active {
    background: $base-color;
  }
}
