@use '../setting/config' as *;
@use '../mixin/_mixin' as *;

/* ======================================
* FV
* =================================== */
.fv {
  background-image: $section-color;

  &__inner {
    position: relative;
    height: 700px;
    @include mq(md) {
      padding: 0 20px;
    }
  }

  &__text-area {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    @include mq(md) {
      top: 60%;
      width: 100%;
    }
  }

  &__text-area-inner {
    position: relative;
  }

  &__text {
    color: $main-color;
    font-size: clamp(1.125rem, 0.973rem + 0.76vw, 1.5rem);
    letter-spacing: 5%;
    line-height: 1em;
    font-weight: bold;
  }

  &__title {
    margin-top: 20px;
    font-weight: bold;
    font-size: clamp(2.25rem, 0.63rem + 8.1vw, 6.25rem);
    line-height: 1em;
    letter-spacing: 1.6%;
  }

  &__date {
    margin-top: 10px;
    font-weight: bold;
    font-size: clamp(1.5rem, 1.196rem + 1.52vw, 2.25rem);
    line-height: 41.4px;
    letter-spacing: 7%;
  }

  &__btn {
    margin-top: 32px;
    @include push-btn(300px, 66px, 9999px, #DD118E);
    a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__singe {
    position: absolute;
    width: 326px;
    bottom: 40px;
    right: 37px;
    transform: rotate(13turn);
    @include mq(md) {
      width: 150px;
      right: 0;
      bottom: 70px;
    }
  }

  &__img {
    width: 560px;
    position: absolute;
    right: 0;
    bottom: 0;
    @include mq(sp) {
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__img-inner {
    position: relative;
  }

  &__img-user {
    position: absolute;
    bottom: 20px;
    right: 0;
    color: #fff;
    @include mq(md) {
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__img-name {
    font-weight: bold;
    font-size: 21px;
    line-height: 1em;
    letter-spacing: -6%;
    @include mq(md) {
      font-size: 18px;
    }
  }

  &__img-job {
    margin-top: 3px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: 5%;
  }
}

/* ======================================
* section common
* =================================== */
.section {
  padding: 110px 0;
  background-color: #141414;
  @include mq(md) {
    padding: 80px 0;
  }

  &__title--en {
    color: $main-color;
    font-size: clamp(2rem, 1.291rem + 3.54vw, 3.75rem);
    letter-spacing: 5%;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
  }

  &__title--ja {
    color: #fff;
    font-size: clamp(1.125rem, 1.074rem + 0.25vw, 1.25rem);
    letter-spacing: 5%;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  &__body {
    margin-top: 60px;
  }
}

/* ======================================
* about
* =================================== */
.about {
  color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(md) {
      flex-direction: column;
    }
  }

  &__text {
    width: 58.8%;
    margin-left: 69px;
    @include mq(md) {
      width: 100%;
      text-align: center;
      margin-left: 0;
      margin-top: 30px;
    }
  }

  &__title {
    font-size: clamp(1.5rem, 0.892rem + 3.04vw, 3rem);
    letter-spacing: 10%;
    line-height: 1em;
    font-weight: bold;
    margin-top: 20px;
    color: $main-color;
  }

  &__sub-title {
    font-size: clamp(1.25rem, 1.149rem + 0.51vw, 1.5rem);
    line-height: 27.6px;
    font-weight: bold;
  }

  &__writing {
    margin-top: 40px;
    font-size: 18px;
    line-height: 32.4px;
    letter-spacing: 5%;
    @include mq(md) {
      font-size: 16px;
    }
  }

  &__img {
    width: 41.2%;
    @include mq(md) {
      width: 100%;
    }
  }

  &__table {
    margin-top: 25px;
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 38px 10px;
      @include mq(md) {
        text-align: left;
        border-spacing: 20px 10px;
      }
      th {
        font-size: 16px;
        line-height: 18.4px;
        letter-spacing: 5%;
        font-weight: bold;
        @include mq(md) {
          font-size: 14px;
        }
        @include mq(sp) {
          width: 20%;
        }
      }
      td {
        font-size: 16px;
        line-height: 18.4px;
        letter-spacing: 5%;
        @include mq(md) {
          font-size: 14px;
        }
        @include mq(sp) {
          width: 80%;
        }
      }
    }
  }

  &__btn {
    margin-top: 25px;
    @include push-btn(230px, 76px, 9999px, #DD118E);
    @include mq(md) {
      @include push-btn(230px, 66px, 9999px, #DD118E);
      a {
        margin-inline: auto;
      }
    }
    a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* ======================================
* speaker
* =================================== */
.speaker {
  background-image: $section-color;

  &__card {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 80px;
    &:first-of-type {
      margin-top: 0;
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
      .speaker__img {
        margin-right: 0;
        margin-left: 60px;
        @include mq(md) {
          width: 100%;
          margin-left: 0;
        }
      }
    }
    @include mq(md) {
      flex-direction: column !important;
    }
  }

  &__img {
    margin-right: 60px;
    width: 42.4%;
    @include mq(md) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__text {
    width: 57.6%;
    @include mq(md) {
      width: 100%;
      margin-top: 30px;
    }
  }

  &__name--en {
    font-size: clamp(1.25rem, 0.693rem + 2.78vw, 2.625rem);
    letter-spacing: 5%;
    line-height: 1em;
    font-weight: bold;
    color: $main-color;
  }

  &__name--jp {
    font-size: clamp(1rem, 0.949rem + 0.25vw, 1.125rem);
    line-height: 1em;
    font-weight: bold;
    margin-top: 10px;
  }

  &__writing {
    margin-top: 40px;
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: 5%;
    @include mq(md) {
      font-size: 14px;
    }
  }
}

/* ======================================
* session
* =================================== */
.session {
  &__body {
    margin-top: 130px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 40px;
    border-bottom: 1px solid $main-color;
    color: #fff;
    &:first-of-type {
      padding-top: 0;
    }
    @include mq(md) {
      padding: 20px 30px;
      flex-direction: column;
    }
  }

  &__time {
    font-size: clamp(1.125rem, 1.024rem + 0.51vw, 1.375rem);
    font-weight: bold;
    line-height: 25.3px;
    letter-spacing: 5%;
  }

  &__text {
    margin-left: 64px;
    flex: 1;
    @include mq(md) {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  &__title {
    font-size: clamp(1.125rem, 1.024rem + 0.51vw, 1.375rem);
    line-height: 25.3px;
    font-weight: bold;
    letter-spacing: 5%;
    color: $main-color;
  }

  &__speaker {
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 5%;
    margin-top: 15px;
    @include mq(md) {
      font-size: 12px;
    }
  }
  
  &__writing {
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 5%;
    @include mq(md) {
      font-size: 12px;
    }
  }
}

/* ======================================
* registor
* =================================== */
.registor {
  background-image: url('#{$imgDir}form-bg.png');
  background-repeat: round;
  font-size: 16px;
  @include mq(md) {
    font-size: 14px;
  }

  &__form {
    background-color: #141414;
    border: 5px solid $main-color;
    border-radius: 20px;
    color: #fff;
    padding: 90px 158px;
    @include mq(md) {
      padding: 60px 20px;
    }
  }

}

.form {
  &__group {
    margin-top: 30px;
    &:first-of-type {
      margin-top: 0;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
      background: #fff;
      border-radius: 6px;
      width: 100%;
      max-width: 300px;
      padding: 8px;
      line-height: 18.4px;
      color: $text-color;

    }
    input[type="tel"] {
      max-width: 200px;
    }
    textarea {
      background: #fff;
      border-radius: 6px;
      width: 100%;
      max-width: 600px;
      height: 200px;
      padding: 8px;
      color: $text-color;
      line-height: 18.4px;

    }
  }

  &__label {
    margin-bottom: 10px;
    line-height: 18.4px;
    letter-spacing: 5%;
    font-weight: bold;

    .mast {
      color: $main-color;
      font-size: 11.2px;
      line-height: 12.9px;
      letter-spacing: 5%;
      margin-left: 9px;
    }

    .sup {
      font-size: 12px;
      line-height: 13.8px;
      letter-spacing: 5%;
      margin-left: 5px;
    }
  }

  &__radio {
    display: flex;
    align-items: center;
    @include mq(md) {
      flex-direction: column;
      align-items: flex-start;
    }

    label {
      display: flex;
      margin-left: 35px;

      line-height: 18.4px;
      letter-spacing: 5%;
      
      &:first-of-type {
        margin-left: 0;
      }
      @include mq(md) {
        margin-left: 0;
        margin-top: 10px;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  &__radio-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__where-label {
    display: flex;
    @include mq(md) {
      flex-direction: column;
    }
    .form__label {
      @include mq(md) {
        margin-bottom: 0;
      }
    }
    .mast {
      color: $main-color;
      font-size: 11.2px;
      line-height: 12.9px;
      letter-spacing: 5%;
      margin-left: 9px;
      font-weight: bold;
      @include mq(md) {
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  }
  
  &__btn {
    margin-top: 50px;
    margin-inline: auto;
    @include push-btn(300px, 76px, 9999px, #DD118E);
    @include mq(md) {
      margin-top: 30px;
      @include push-btn(300px, 66px, 9999px, #DD118E);
    }
    button {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}